@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #523494;
  --white-color: #ffffff;
}
html {
  font-family: Arial, Helvetica, sans-serif !important;
}

.user_logged_in {
  margin-left: 13rem;
  padding-top: 4rem;
}
body {
  background: #eef2f6;
  padding-right: 0px !important;
  overflow: auto !important;
}
html {
  font-family: sans-serif;
  font-size: 14px;
}

table {
  border: 1px solid lightgray;
  width: 100%;
}

tr:nth-child(even) {
  background-color: #e0e0e0;
}

th{
  border-bottom: 1px solid lightgray;

}
td {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 2px 4px;
}
td {
  height: 50px;
}

thead tr {
  height: 45px;
}
.MuiDialog-paper {
  max-width: 500px !important;
  min-width: 500px !important;
}

.cover-spinPublic {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
}
.custom-loaderPublic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #0072bb 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, #0072bb);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 7px), #000 0);
  animation: s3 1s infinite linear;
  position: absolute;
  top: 40%;
  left: 50%;
}

@keyframes s3 {
  100% {
    transform: rotate(1turn);
  }
}
